body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  max-width: 600px;
  margin: 50px auto;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-bottom: 5px;
}

input[type="text"], select {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  margin-bottom: 10px;
  border: none;
  background-color: #009966;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #009966;
}

p {
  margin-top: 5px;
  
}

.heading-41 {
  display: flex;
  align-items: center;
  padding: .5em .7em;
  background-color: #f2f2f2;
  color: #333333;
}

.heading-41::before {
  display: inline-block;
  width: 4px;
  height: 1em;
  margin-right: .5em;
  background-color: #009966;
  content: '';
}

/* Styling for each paragraph */
p[data-copy] {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

/* Optional: Add some spacing around the entire block */
.container {
  padding: 20px;
  
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
}
